name: .NET 8.0 Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK
      uses: microsoft/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Build solution
      run: dotnet build DueTick.sln --configuration Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Build solution
        path : |
          **/bin/Release/net8.0/**
    
    - name: Pack build output
      run: |
        mkdir Release
        powershell -Command "Compress-Archive`
         -Path **/bin/Release/net8.0/* -DestinationPath Release/DueTick-$GITHUB_REF_NAME.zip"
    
    - name: Upload release artifact
      if: startsWith(github.ref, 'refs/tags/')
      uses: actions/upload-artifact@v4
      with:
        files: release/DueTick-$GITHUB_REF_NAME.zip
